<div *ngIf="desktop; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
    <div id="wrapper" class="row justify-content-center">
        <div class="col-2" *ngFor="let item of sliceSize">
            <ul>
                <li *ngFor="let cat of categories.slice(item, item+6)"><a href="">{{cat}}</a></li>
            </ul>
        </div>
        <div class="col-2"></div>
    </div>
</ng-template>


<ng-template #elseBlock>
    <ul id="sidenav">
        <li *ngFor="let cat of categories"><a href="">{{cat}}</a></li>
    </ul>
</ng-template>