* {
    /* outlines for debugging */
    // outline-style: dashed;
    // outline-color: red;
    // outline-width: 0.1em;
}

#wrapper {
    padding: 2em 0 2em 0;
    font-family: helveticaregular, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: auto;
    background-color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    display: block;
    padding: 0 0.5em 0.5em 0;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}
