<div id="wrapper" class="row justify-content-center">
    <div class="col-2">
        <ul>
            <li><a href="">Shop All New Arrivals</a></li>
            <li><a href="">Bras</a></li>
            <li><a href="">Panties</a></li>
            <li><a href="">Lingerie</a></li>
            <li><a href="">Sleep & Lounge</a></li>
        </ul>

    </div>
    <div class="col-2">
        <ul>
            <li><a href="">Shop All #TRENDING NOW</a></li>
            <li><a href="">Best Sellers</a></li>
            <li><a href="">Red Hot</a></li>
            <li><a href="">Lounge Sexy</a></li>
            <li><a href="">More Wine Plz</a></li>
            <li><a href="">Smooth & Sexy</a></li>
        </ul>
    </div>
    <div class="col-2">3</div>
    <div class="col-2">4</div>

</div>