* {
    /* outlines for debugging */
    // outline-style: dashed;
    // outline-color: red;
    // outline-width: 0.15em;
    color: white;
    font-size: 12px;
    letter-spacing: 0.6px;
}
// FIXME. broken fonts for helvetica-light

button {
    width: 100%;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: default;
    overflow: hidden;
    outline: none;
    margin: 0;
}

#right-button {
    cursor: pointer;
    float: right;
    margin-right: 4em;
}

#sign-in-dialog {
    position: fixed;
    background-color: white;
    z-index: 100;
    margin: 2.5em 4em 0 0;
    width: 300px;
}

.wrapper {
    background-color: black;
    padding: 1em 0 1em 0; /* expand header */
}

img {
    width: 16px;
    margin: 0.3em 0.8em 0 0;
    float: left;
}

#desktop-left-text {
    float: left;
}

#desktop-left {
    display: block;
    font-family: helveticaregular, Helvetica, Arial, sans-serif;
    padding-left: 2em;
    line-height: 18px;
    font-size: 12px;
}

.mid-text {
    font-family: helveticabold, Helvetica, Arial, sans-serif;
    text-align: center;
}

.drop-down-box {
    border-top-width: 0.1em;
    border-top-color: #e0e0e0;
    border-top-style: solid;
    background-color: black;
    padding: 1em 0 1em 0; /* expand header */
}

#desktop-right {
    text-align: right;
}

#user-icon {
    fill: white;
    width: 1.5em;
    float: right;
    margin-right: 0.5em;
}

#desktop-right-text {
    float: right;
    margin-top: 0.2em;
    font-family: helveticalight;
    line-height: 18px;
}

#mobile-mid {
    font-family: helveticabold, Helvetica, Arial, sans-serif;
    text-align: center;
}

#mobile-right {
    padding: 0;
}

#arrow-down {
    width: 1.5em;
    margin-right: 1.7em;
    float: right;
}

#arrow-up {
    width: 1.2em;
    margin: 0 1.7em;
    float: right;
}

/* mobile devices */

#desktop-left,
#desktop-mid,
#desktop-right {
    display: none;
}

/* small devices */
@media screen and (min-width: 768px) {
    #desktop-left {
        display: initial;
    }
}

/* large & medium devices */
@media screen and (min-width: 992px) {
    #desktop-left,
    #desktop-mid,
    #desktop-right {
        display: initial;
    }

    #mobile-mid,
    #mobile-right {
        display: none;
    }
}
