* {
    /* outlines for debugging */
    // outline-style: dashed;
    // outline-color: red;
    // outline-width: 0.15em;
    color: white;
    font-size: 12px;
    letter-spacing: 0.6px;
}
// FIXME. broken fonts for helvetica-light

.row {
    background-color: black;
}

/* expand header */
[class*="col"] {
    padding: 1em 0 1em 0;
}

img {
    width: 16px;
    margin: 0.3em 0.8em 0 0;
    float: left;
}

#language-text {
    float: left;
}

#language {
    display: block;
    font-family: helveticaregular, Helvetica, Arial, sans-serif;
    padding-left: 4em;
}


#promotion {
    font-family: helveticabold, Helvetica, Arial, sans-serif;
    text-align: center;
}

#user {
    font-family: helveticalight, Helvetica, Arial, sans-serif;
    text-align: right;
    padding-right: 4em;
}

#user-icon {
    fill: white;
    width: 1.5em;
    float: right;
    margin-right: 0.5em;
}

#user-text {
    float: right;
}

#offers {
    font-family: helveticabold, Helvetica, Arial, sans-serif;
    text-align: center;
}


#drop-down-icon {
    fill: #e0e0e0;
    width: 1.5em;
    margin: 0 1.5em;
    float: right;
}

/* mobile devices */

#language,
#promotion,
#user {
    display: none;
}


/* small devices */
@media screen and (min-width: 768px) {
    #language {
        display: initial;
    }
}

/* large & medium devices */
@media screen and (min-width: 992px) {
    #language,
    #promotion,
    #user {
        display: initial;
    }

    #offers,
    #drop-down {
        display: none;
    }
}
