<button [disabled]="disabled" (click)="toggleDropDown()" class="row wrapper">
    <div id="desktop-left" class="col-md-3 col-lg-3">
        <img src="assets/country/turkey.png" alt="">
        <div id="desktop-left-text">Turkey | TRY TL</div>
    </div>
    <div id="desktop-mid" class="col-lg-6 mid-text">
        COVID-19 Response - Bras & Bralettes TL 177,56 - Panties 5/TL337,37
    </div>
    <div id="desktop-right" class="col-lg-3">
        <button id="right-button" (click)="toggleSignIn()" class="col-lg-9 col-xl-7">
            <div id="desktop-right-text"> Log In/ Sign Up</div>
            <mat-icon id="user-icon" svgIcon="user"></mat-icon>
        </button>
    </div>

    <div class="row justify-content-end">
        <div id="sign-in-dialog" class="col-3" *ngIf="signInDialog">
            <app-sign-in-dialog (newItemEvent)="toggleSignIn()" ></app-sign-in-dialog>
        </div>
    </div>

    <!-- mobile design -->
    <!-- without dropdown -->
    <div id="mobile-mid" class="col-11 col-sm-11 col-md-6 my-auto">
        Shop Today's Offers
    </div>
    <div id="mobile-right" class="col-1 col-sm-1 col-md-3">
        <div *ngIf="this.animationState === 'out'; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <mat-icon svgIcon="arrow-down" id="arrow-down"></mat-icon>
        </ng-template>
        <ng-template #elseBlock>
            <mat-icon svgIcon="arrow-up" id="arrow-up"> </mat-icon>
        </ng-template>
    </div>
</button>

<!-- with dropdown -->
<div [@slideInOut]="animationState" class="row divA">
    <div class="col-12 drop-down-box mid-text">Bras & Bralettes TL 177,56</div>
</div>
<div [@slideInOut]="animationState" class="row divA">
    <div class="col-12 drop-down-box mid-text">Panties 5/TL337,37</div>
</div>