<div class="wrapper">
    <div class="first-section">
        <span>
            GET EMAIL: THE SEXIEST DEALS, TREND ALERTS & HOT NEW ARRIVALS</span>
        <div class="row no-gutters">
            <div class="col-11" id="input-box">
                <input placeholder="Email Address" type="text">
                <mat-icon id="arrow-right" svgIcon="arrow-right"></mat-icon>
            </div>
            <div class="col-1">
                <mat-icon id="info" svgIcon="info"></mat-icon>
            </div>
        </div>

        <div class="row no-gutters justify-content-center">
            <div class="col-2">
                <mat-icon svgIcon="facebook"></mat-icon>
            </div>
            <div class="col-2">
                <mat-icon svgIcon="instagram"></mat-icon>
            </div>
            <div class="col-2">
                <mat-icon svgIcon="twitter"></mat-icon>
            </div>
            <div class="col-2">
                <mat-icon svgIcon="pinterest"></mat-icon>
            </div>

        </div>
    </div>

    <div class="second-section">
        <button class="row no-gutters">
            <div class="col-11 my-auto">COMPANY INFO</div>
            <mat-icon class="col-1">add</mat-icon>
        </button>
        <button class="row no-gutters">
            <div class="col-11 my-auto">CUSTOMER SERVICE</div>
            <mat-icon class="col-1">add</mat-icon>
        </button>
        <button class="row no-gutters">
            <div class="col-11 my-auto">SIZE & FIT CHART</div>
            <mat-icon class="col-1">add</mat-icon>
        </button>
        <button class="row no-gutters">
            <div class="col-11 my-auto"> MY ACCOUNT</div>
            <mat-icon class="col-1">add</mat-icon>
        </button>
    </div>

    <div class="third-section">&copy; 2021 Kezokino Corporation. All Rights Reserved.</div>
</div>

<!-- <div id="wrapper">
    <div id="email">
        GET EMAIL: THE SEXIEST DEALS, TREND ALERTS & HOW NEW ARRIVALS
        <div id="input-box">
            <input placeholder="Email Address" type="text">
            <mat-icon id="cta-arrow" svgIcon="arrow-right"></mat-icon>
        </div>
        <mat-icon id="info" svgIcon="info"></mat-icon>

        <ul>
            <li><a href="">
                    <mat-icon svgIcon="facebook"></mat-icon>
                </a>
            </li>
            <li>
                <a href="">
                    <mat-icon svgIcon="instagram"></mat-icon>
                </a>
            </li>
            <li>
                <a href="">
                    <mat-icon svgIcon="twitter"></mat-icon>
                </a>
            </li>
            <li>
                <a href="">
                    <mat-icon svgIcon="pinterest"></mat-icon>
                </a>
            </li>
        </ul>
    </div>

    <div id="right">
        <div class="column">COMPANY INFO

            <ul>
                <li><a href="">Store Locator</a></li>
                <li><a href="">Store Directory</a></li>
                <li><a href="">About La Senza</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Terms & Conditions</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Site Map</a></li>
            </ul>

        </div>
        <div class="column"> CUSTOMER SERVICE
            <ul>
                <li><a href="">Live Chat Offline</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Gift Cards</a></li>
                <li><a href="">Frequently Asked</a></li>
                <li><a href="">Shipping Details</a></li>
                <li><a href="">International Orders</a></li>
                <li><a href="">Return Policy</a></li>
                <li><a href="">Club La Senza Preferences</a></li>
                <li><a href="">Sexy Deals</a></li>
            </ul>
        </div>
        <div class="column">SIZE & FIT CHART
            <ul>
                <li><a href=""></a></li>
                <li><a href="">Bras</a></li>
                <li><a href="">Panties</a></li>
                <li><a href="">Sleep</a></li>
                <li><a href="">Lingerie</a></li>
                <li><a href="">Hosiery</a></li>
                <li><a href="">POPULAR BRA SIZES</a></li>
                <li><a href="">32C Bras</a></li>
                <li><a href="">32D Bras</a></li>
                <li><a href="">34B Bras</a></li>
                <li><a href="">34C Bras</a></li>
                <li><a href="">34DD Bras</a></li>
            </ul>
        </div>
        <div class="column">MY ACCOUNT
            <ul>
                <li><a href=""></a></li>
                <li><a href="">Login or Create Account</a></li>
                <li><a href="">Order Status</a></li>
            </ul>
        </div>
    </div>
    <div id="copyright">
        &copy; 2021 Kezokino Corporation. All Rights Reserved.


    </div>

</div> -->