* {
    /* outlines for debugging */
    // outline-style: dashed;
    // outline-color: red;
    // outline-width: 0.1em;
    // font-size: 18px;
}

.wrapper {
    margin: 2.5em;
}

* {
    font-family: helvetica, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h2 {
    margin: 1em 0 0.5em 0;
}

h4 {
    margin: 1em 0 1em 0;
}

#forgot-password {
    margin-top: 1.5em;
}

label {
    margin: 1em 0 0 0;
    font-weight: 400;
}

button {
    margin-top: 2em;
}

input {
    margin-top: 0.5em;
}

.checkbox {
    margin-top: 1em;
    padding: 0;
}

#last {
    display: block;
    margin-top: 3em;
    color: black;
}

#benefits {
    display: none;
}

/* large devices */
@media screen and (min-width: 992px) {
    #benefits {
        margin-top: 3em;
        display: block;
    }

    .checkbox {
        padding: 1.8em 0 0 1em;
    }
}
