<mat-sidenav-container [hasBackdrop]="false">
    <mat-sidenav [fixedInViewport]="true" #sidenav mode="push">
        <div id="sidenav">
            <div class="row no-gutters">
                <div class="col-10">
                    <ng-container *ngTemplateOutlet="logo"></ng-container>
                </div>
                <div class="col-2">
                    <button (click)="sidenav.toggle()">
                        <mat-icon id="close-1" svgIcon="close"></mat-icon>
                    </button>
                </div>

            </div>
            <button class="row no-gutters">
                <div class="col-10">Log In / Sign Up</div>
                <mat-icon class="col-2">arrow_right</mat-icon>
            </button>
            <button class="row">
                <div class="col-10">New</div>
                <mat-icon class="col-2">add</mat-icon>
            </button>
            <button class="row">
                <div class="col-10">Bras</div>
                <mat-icon class="col-2">add</mat-icon>
            </button>
            <button class="row">
                <div class="col-10">Panties</div>
                <mat-icon class="col-2">add</mat-icon>
            </button>
            <button class="row">
                <div class="col-10">Lingerie</div>
                <mat-icon class="col-2">add</mat-icon>
            </button>
            <button class="row">
                <div class="col-10">Sleep & Lounge</div>
                <mat-icon class="col-2">add</mat-icon>
            </button>
            <button class="row">
                <div class="col-10">Sexy Extras</div>
                <mat-icon class="col-2">add</mat-icon>
            </button>
            <button class="row">
                <div class="col-10">Collabs</div>
                <mat-icon class="col-2">add</mat-icon>
            </button>
            <button class="row">
                <div class="col-10">Clearance</div>
                <mat-icon class="col-2">add</mat-icon>
            </button>

            <button class="row">
                <div class="col-2">
                    <mat-icon id="user" svgIcon="user"></mat-icon>
                </div>
                <div class="col-10 last-child"> Log In / Sign Up</div>
            </button>
            <button class="row">
                <div class="col-2">
                    <mat-icon id="love-2" svgIcon="love"></mat-icon>
                </div>
                <div class="col-10 last-child"> Love It List</div>
            </button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div id="nav-bar" class="row no-gutters" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
            <div id="mobile-left" class="col-3">
                <button (click)="sidenav.toggle()">
                    <mat-icon id="menu" svgIcon="menu"></mat-icon>
                </button>
            </div>
            <div id='mobile-center' class="col-6">
                <ng-container *ngTemplateOutlet="logo"></ng-container>
            </div>

            <div id="desktop-mid" class="col-xl-10">
                <ul>
                    <li>
                        <ng-container *ngTemplateOutlet="logo"></ng-container>
                    </li>
                    <li><a href="">New</a></li>
                    <li><a href="">Bras</a></li>
                    <li><a href="">Panties</a></li>
                    <li><a href="">Lingerie</a></li>
                    <li><a href="">Sleep & Lounge</a></li>
                    <li><a href="">Sexy Extras</a></li>
                    <li><a href="">Collabs</a></li>
                    <li><a href="">Clearance</a></li>
                </ul>
            </div>

            <div id="most-right" class="col-3 col-xl-2">
                <mat-icon id="bag" svgIcon="bag"></mat-icon>
                <mat-icon id="love" svgIcon="love"></mat-icon>
                <mat-icon id="search" svgIcon="search"></mat-icon>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #logo><img src="assets/logo/logo.png" alt=""></ng-template>