<mat-sidenav-container [hasBackdrop]="false">
    <mat-sidenav [fixedInViewport]="true" #sidenav mode="push">
        <div id="sidenav">
            <div class="row no-gutters">
                <div class="col-10">
                    <ng-container *ngTemplateOutlet="logo"></ng-container>
                </div>
                <div class="col-2">
                    <button (click)="sidenav.toggle()">
                        <mat-icon id="close-1" svgIcon="close"></mat-icon>
                    </button>
                </div>

            </div>
            <button (click)="toggleMenu('login')" class="row">
                <div class="col-10">Log In / Sign Up</div>

                <div *ngIf="!sideShow['login']; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <mat-icon class="col-2 right">arrow_right</mat-icon>
                </ng-template>
                <ng-template #elseBlock>
                    <mat-icon class="col-2 right">arrow_drop_down</mat-icon>
                </ng-template>


            </button>

            <ul *ngIf="sideShow['login']" class="mobile-dropdown">
                <li><a routerLink="/login" routerLinkActive="active">Log In</a></li>
                <li><a routerLink="/signup" routerLinkActive="active">Sign Up</a></li>
            </ul>

            <ng-container *ngFor="let key of mainCategory;">
                <button (click)="toggleMenu(key)" class="row">

                    <div class="col-10">{{key}}</div>

                    <div *ngIf="!sideShow[key]; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <mat-icon class="col-2">add</mat-icon>
                    </ng-template>
                    <ng-template #elseBlock>
                        <mat-icon class="col-2">remove</mat-icon>
                    </ng-template>
                </button>

                <div class="mobile-dropdown" *ngIf="sideShow[key]">
                    <app-dropdown-menu [desktop]="false" [categories]="categoryDict[key]"></app-dropdown-menu>
                </div>
            </ng-container>

            <button class="row">
                <div class="col-2">
                    <mat-icon id="user" svgIcon="user"></mat-icon>
                </div>
                <div class="col-10 last-child"> Log In / Sign Up</div>
            </button>
            <button class="row">
                <div class="col-2">
                    <mat-icon id="love-2" svgIcon="love"></mat-icon>
                </div>
                <div class="col-10 last-child"> Love It List</div>
            </button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <ng-template [ngIf]="isSticky">
            <div id="padding"></div>
        </ng-template>

        <div [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
            <div id="nav-bar" class="row no-gutters">
                <div id="mobile-left" class="col-3">
                    <button (click)="sidenav.toggle()">
                        <mat-icon id="menu" svgIcon="menu"></mat-icon>
                    </button>
                </div>
                <div id='mobile-center' class="col-6">
                    <ng-container *ngTemplateOutlet="logo"></ng-container>
                </div>

                <div id="desktop-mid" class="col-xl-10">
                    <ul>
                        <li>
                            <ng-container *ngTemplateOutlet="logo"></ng-container>
                        </li>
                        <!-- <li><a href="">Yeni Ürünler</a></li>
                        <li><a href="">İndirimdeki Ürünler</a></li> -->
                        <li class="dropdown" *ngFor="let key of mainCategory;">
                            <a href="">{{key}}</a>
                            <div class="dropdown-content">
                                <app-dropdown-menu [categories]="categoryDict[key]"></app-dropdown-menu>
                            </div>
                        </li>
                    </ul>
                </div>

                <div id="most-right" class="col-3 col-xl-2">
                    <mat-icon id="bag" svgIcon="bag"></mat-icon>
                    <mat-icon id="love" svgIcon="love"></mat-icon>
                    <mat-icon id="search" svgIcon="search"></mat-icon>
                </div>

            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #logo><img src="assets/logo/logo.png" alt=""></ng-template>