* {
    /* outlines for debugging */
    // outline-style: dashed;
    // outline-color: red;
    // outline-width: 0.1em;
    color: white;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    width: 2em;
    margin: 1.8em 0 auto 1em;
}

/* side navigation */

mat-sidenav {
    // FIXME. maybe fix these.
    background-color: #efefef !important;
}

#sidenav {
    .row {
        font-family: helveticaregular, Helvetica, Arial, sans-serif;
        margin: 0;
        background-color: black;
        width: 20em;
        padding: 1.2em;
        border-bottom-color: gray;
        border-bottom-style: solid;
        border-bottom-width: 0.05em;
        text-align: left;
    }

    .row:nth-last-child(-n + 2) {
        background-color: #efefef;
        border-bottom-width: 0;
        #user,
        #love-2 {
            fill: black;
            width: 1.5em;
            float: right;
            margin-right: 0.5em;
        }
    }

    .row:nth-last-child(2) {
        padding-top: 1.5em;
    }

    .row:last-child {
        padding-top: 0;
    }

    // FIXME. color doesn't apply on nth-last-child directive for some reason.
    .last-child {
        color: black;
        font-size: 0.75rem;
    }

    .row:first-child {
        padding: 0 1.2em;
        padding-left: 2em;
    }
    #close-1 {
        width: 1em;
    }

    button > .col-10 {
        padding: 0;
        margin: 0;
    }

    button > .mat-icon {
        padding-left: 1em;
    }
}

/* end of side navigation */

/* navigation bar */
#nav-bar {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.mat-elevation-z5 {
    position: relative;
}

.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

#love,
#desktop-mid {
    display: none;
}

img {
    width: 8em;
    display: block;
    margin: 0.8em auto;
}

#menu {
    float: left;
}

#most-right > mat-icon {
    float: right;
    margin: 1.8em 1em 0 0;
    width: 1.5em;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 15px;
}

li {
    float: left;
}

a {
    display: block;
    padding: 0.5em;
    margin: 2em 1em 0 1em;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

/* end of navigation bar */

/* large devices */
@media screen and (min-width: 1200px) {
    #love,
    #desktop-mid {
        display: initial;
    }

    #mobile-left,
    #mobile-center {
        display: none;
    }

    #most-right > mat-icon {
        float: right;
        margin: 2em 1.5em 0 0;
        width: 1.5em;
    }

    #most-right > #bag {
        margin-right: 2.5em;
    }

    div > ul > li > img {
        display: block;
        margin: 1em 1em;
    }
}
