<div class="wrapper row no-gutters justify-content-center">
    <div id="desktop-left"  class="col-lg-4 col-xl-4">
        <div id="my-account">
            My Account
        </div>
        <div id="create-account">
            <a href="">Create an Account</a>
        </div>

        <h2>Contact Us</h2>
        <a href="">Live Chat Online</a>
        <br>
        Canadian + U.S. callers:+1-888-527-3692
        <br>

        International callers:+1 614-452-5501
        <br>
        We are available:
        <br>
        Monday - Friday; 10 AM – 6:30 PM ET
        <br>
        Saturday - Sunday: Closed
        <br>
        Privacy Policy

    </div>
    <div id="right" class="col-12 col-lg-8 col-xl-6">
        <h1>Create Account</h1>

        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <label class="col-12 col-lg-4">FIRST NAME *</label>
            <input class="col-12 col-lg-8" type="text" formControlName="firstName">

            <label class="col-12 col-lg-4">LAST NAME *</label>
            <input class="col-12 col-lg-8" type="text" formControlName="lastName">


            <label class="col-12 col-lg-4">EMAIL *</label>
            <input class="col-12 col-lg-8" type="email" formControlName="email">

            <label class="col-12 col-lg-4">CONFIRM EMAIL *</label>
            <input class="col-12 col-lg-8" type="email" formControlName="confirmEmail">

            <label class="col-12 col-lg-4">PASSWORD *</label>
            <input class="col-12 col-lg-8" type="password" formControlName="password">

            <label class="col-12 col-lg-4">CONFIRM PASSWORD *</label>
            <input class="col-12 col-lg-8" type="password" formControlName="confirmPassword">
            <a href="">Password Help</a>

            <div class="checkbox">
                <app-checkbox (checkedEvent)="setChecked($event)"
                    label="Sign me up for Kezokino's email and postal mail offers and news"></app-checkbox>
            </div>

            <button class="col-12">APPLY</button>

        </form>
    </div>

</div>