/* You can add global styles to this file, and also import other style files */

/* reset styling */
@import "~normalize.css";

/* boostrap */
@import "~bootstrap/dist/css/bootstrap.min.css";

/* materials icons */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// TODO. maybe carry this fonts to another .scss file.

/* prevent overflowing in x-scroll */
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: helveticaregular;
    src: url("assets/font/helvetica/regular.otf") format("opentype");
}

@font-face {
    font-family: helveticabold;
    src: url("assets/font/helvetica/helvetica-rounded-bold-5871d05ead8de.otf") format("truetype");
}

@font-face {
    font-family: helveticalight;
    src: url("assets/font/helvetica/helvetica-light-587ebe5a59211.ttf") format("truetype");
}

/* custom item options */

h1 {
    font-family: helveticaregular, Helvetica, Arial, sans-serif;
    border-bottom: 0.01em solid #cccccc;
    text-align: left;
    padding: 0;
    margin: 1em 0 0 0;
}

form {
    label {
        font-weight: 700;
    }
    /* custom input box */
    input {
        padding: 0.7em;
        border-radius: 0;
        border: 0.1em solid #cccccc;
        width: 100%;
        font-size: 12px;
        font-family: helveticaregular, Helvetica, Arial, sans-serif;
    }

    select {
        padding: 0.7em;
        border-radius: 0;
        border: 0.1em solid #cccccc;
        background-color: transparent;
        width: 100%;
        font-weight: 700;

        option {
            font-weight: 700;
        }
    }

    a {
        color: black;
        font-family: helveticaregular, Helvetica, Arial, sans-serif;
        font-size: 12px;
        outline: none;
    }

    input:focus {
        outline: none;
        border-color: black;
    }

    select:focus {
        outline: none;
    }

    /* custom button */
    button {
        background-color: black;
        color: white;
        border: none;
        padding: 1em;
        width: 50%;
    }

    @keyframes fadeIn {
        100% {
            opacity: 0.5;
        }
        0% {
            opacity: 1;
        }
    }

    button:hover {
        animation: fadeIn ease 0.5s;
        opacity: 0.5;
    }
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
